.price
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__text
      display: flex
      justify-content: space-around
      align-items: center
      min-height: 60px
    &__name
      font-size: 15px
    &__price
      +bold
      font-size: 15px
  &-card
    margin-bottom: 10px
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)